/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.logo img {
    width: 200px; /* Adjust size as needed */
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 4rem;
}

h2 {
    margin-bottom: 1rem;
}

ol {
    list-style-type: decimal;
}

.contact-details p {
    margin-bottom: 1rem;
}

.arrows img {
    display: block;
    width: 50px; /* Adjust size as needed */
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

footer p {
    margin-bottom: 1rem;
}

.social-media ul {
    list-style-type: none;
}

.social-media ul li {
    display: inline-block;
    margin-right: 1rem;
}

.social-media ul li:last-child {
    margin-right: 0;
}
